---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/taras9393
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"03aa659a13b01f7257fef61afba4ff9cc64b8f44053274d762d50b7edfc9133d"
      Last-Modified:
      - Wed, 13 Sep 2023 19:56:40 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1701818380'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '11'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"taras9393","id":107065278,"node_id":"U_kgDOBmGvvg","avatar_url":"https://avatars.githubusercontent.com/u/107065278?v=4","gravatar_id":"","url":"https://api.github.com/users/taras9393","html_url":"https://github.com/taras9393","followers_url":"https://api.github.com/users/taras9393/followers","following_url":"https://api.github.com/users/taras9393/following{/other_user}","gists_url":"https://api.github.com/users/taras9393/gists{/gist_id}","starred_url":"https://api.github.com/users/taras9393/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/taras9393/subscriptions","organizations_url":"https://api.github.com/users/taras9393/orgs","repos_url":"https://api.github.com/users/taras9393/repos","events_url":"https://api.github.com/users/taras9393/events{/privacy}","received_events_url":"https://api.github.com/users/taras9393/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":6,"public_gists":0,"followers":0,"following":0,"created_at":"2022-06-07T16:31:42Z","updated_at":"2023-09-13T19:56:40Z"}'
  recorded_at: Tue, 05 Dec 2023 22:48:44 GMT
- request:
    method: get
    uri: https://api.github.com/users/taras9393/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"968981e3e9b8f731531a2ba622084e07fc66ff803ce9ae9c0e2746dc5c3843bd"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1701818380'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":677823138,"node_id":"R_kgDOKGbCog","name":"bicycles","full_name":"taras9393/bicycles","private":false,"owner":{"login":"taras9393","id":107065278,"node_id":"U_kgDOBmGvvg","avatar_url":"https://avatars.githubusercontent.com/u/107065278?v=4","gravatar_id":"","url":"https://api.github.com/users/taras9393","html_url":"https://github.com/taras9393","followers_url":"https://api.github.com/users/taras9393/followers","following_url":"https://api.github.com/users/taras9393/following{/other_user}","gists_url":"https://api.github.com/users/taras9393/gists{/gist_id}","starred_url":"https://api.github.com/users/taras9393/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/taras9393/subscriptions","organizations_url":"https://api.github.com/users/taras9393/orgs","repos_url":"https://api.github.com/users/taras9393/repos","events_url":"https://api.github.com/users/taras9393/events{/privacy}","received_events_url":"https://api.github.com/users/taras9393/received_events","type":"User","site_admin":false},"html_url":"https://github.com/taras9393/bicycles","description":null,"fork":false,"url":"https://api.github.com/repos/taras9393/bicycles","forks_url":"https://api.github.com/repos/taras9393/bicycles/forks","keys_url":"https://api.github.com/repos/taras9393/bicycles/keys{/key_id}","collaborators_url":"https://api.github.com/repos/taras9393/bicycles/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/taras9393/bicycles/teams","hooks_url":"https://api.github.com/repos/taras9393/bicycles/hooks","issue_events_url":"https://api.github.com/repos/taras9393/bicycles/issues/events{/number}","events_url":"https://api.github.com/repos/taras9393/bicycles/events","assignees_url":"https://api.github.com/repos/taras9393/bicycles/assignees{/user}","branches_url":"https://api.github.com/repos/taras9393/bicycles/branches{/branch}","tags_url":"https://api.github.com/repos/taras9393/bicycles/tags","blobs_url":"https://api.github.com/repos/taras9393/bicycles/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/taras9393/bicycles/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/taras9393/bicycles/git/refs{/sha}","trees_url":"https://api.github.com/repos/taras9393/bicycles/git/trees{/sha}","statuses_url":"https://api.github.com/repos/taras9393/bicycles/statuses/{sha}","languages_url":"https://api.github.com/repos/taras9393/bicycles/languages","stargazers_url":"https://api.github.com/repos/taras9393/bicycles/stargazers","contributors_url":"https://api.github.com/repos/taras9393/bicycles/contributors","subscribers_url":"https://api.github.com/repos/taras9393/bicycles/subscribers","subscription_url":"https://api.github.com/repos/taras9393/bicycles/subscription","commits_url":"https://api.github.com/repos/taras9393/bicycles/commits{/sha}","git_commits_url":"https://api.github.com/repos/taras9393/bicycles/git/commits{/sha}","comments_url":"https://api.github.com/repos/taras9393/bicycles/comments{/number}","issue_comment_url":"https://api.github.com/repos/taras9393/bicycles/issues/comments{/number}","contents_url":"https://api.github.com/repos/taras9393/bicycles/contents/{+path}","compare_url":"https://api.github.com/repos/taras9393/bicycles/compare/{base}...{head}","merges_url":"https://api.github.com/repos/taras9393/bicycles/merges","archive_url":"https://api.github.com/repos/taras9393/bicycles/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/taras9393/bicycles/downloads","issues_url":"https://api.github.com/repos/taras9393/bicycles/issues{/number}","pulls_url":"https://api.github.com/repos/taras9393/bicycles/pulls{/number}","milestones_url":"https://api.github.com/repos/taras9393/bicycles/milestones{/number}","notifications_url":"https://api.github.com/repos/taras9393/bicycles/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/taras9393/bicycles/labels{/name}","releases_url":"https://api.github.com/repos/taras9393/bicycles/releases{/id}","deployments_url":"https://api.github.com/repos/taras9393/bicycles/deployments","created_at":"2023-08-12T18:50:21Z","updated_at":"2023-09-07T12:56:14Z","pushed_at":"2023-09-09T09:46:57Z","git_url":"git://github.com/taras9393/bicycles.git","ssh_url":"git@github.com:taras9393/bicycles.git","clone_url":"https://github.com/taras9393/bicycles.git","svn_url":"https://github.com/taras9393/bicycles","homepage":null,"size":3012,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":691252991,"node_id":"R_kgDOKTOu_w","name":"blog","full_name":"taras9393/blog","private":false,"owner":{"login":"taras9393","id":107065278,"node_id":"U_kgDOBmGvvg","avatar_url":"https://avatars.githubusercontent.com/u/107065278?v=4","gravatar_id":"","url":"https://api.github.com/users/taras9393","html_url":"https://github.com/taras9393","followers_url":"https://api.github.com/users/taras9393/followers","following_url":"https://api.github.com/users/taras9393/following{/other_user}"[...]
