<div class="container">
<h3>GitHub ім'я: <em><%= @user_info['name'].nil? ? 'Імя користувача не вказане на Github' : @user_info['name'] %></em></h3>

<h3>Репозиторії:</h3>
<ul class="repo-list">
  <% @repository.each do |r| %>
    <li class="repo-list-item">
      <%= link_to r['name'], r['html_url'], target: '_blank' %>
    </li>
  <% end %>
</ul>
<%= link_to "Назад", :back %>
</div>
